@model WebShoeShop.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container" style="margin-top:160px">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form horizotal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Nhập email của bạn để đặt lại mật khẩu.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-2 col-md-10">
                            <input type="submit" class="btn btn-outline-success" value="Gửi email" />
                        </div>
                    </div>
                }
        
            </div>
        </div>
    </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
