@model WebShoeShop.Models.ForgotPasswordViewModel
@using WebShoeShop.Models
@{
    ViewBag.Title = "Quên mật khẩu?";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/Login.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <h1 class="text-center" style="margin-top:30px; color: #ffffff;">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">
        <div class="root">
            <div class="main">
                <div class="container1 b-container">
                    <form class="form1" action="@Url.Action("ForgotPassword", "Account")" method="post">
                        @Html.AntiForgeryToken()

                        <h2 class="form_title title">Quên mật khảu</h2>
                        <span class="form__span">Nhập vào thông tin của bạn</span>

                        @Html.TextBoxFor(m => m.Email, new { @class = "form__input", id = "Email", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })


                        <button type="submit" class="form__button button submit">Quên mật khẩu</button>
                    </form>

                </div>
                <div class="switch1">
                    <div class="switch__circle"></div>
                    <div class="switch__container">
                        <h2 class="switch__title title">Chào mừng bạn tới với Double 2T-2Q !</h2>
                        <p class="switch__description description">Trở lại đăng nhập</p>
                        <button class="switch__button button switch-btn" onclick="window.location.href='@Url.Action("Login", "Account")'">Đăng nhập</button>
                        <p class="switch__description description" style="margin-top: 50px;">Hoặc đăng nhập với</p>
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>
                </div>
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-message">
                    Có lỗi xảy ra. Hãy thử lại
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
