@using WebShoeShop.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/Login.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <h1 class="text-center" style="margin-top:30px; color: #ffffff;">Đăng nhập</h1>
        </div>
    </div>
    <div class="row">
        <div class="root">
            <div class="main">
                <div class="container1 b-container">
                    <form class="form1" action="@Url.Action("Login", "Account")" method="post">
                        @Html.AntiForgeryToken()

                        <h2 class="form_title title">Đăng nhập</h2>
                        <span class="form__span">Sử dụng tài khoản của bạn</span>

                        <!-- Tên đăng nhập -->
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form__input", placeholder = "Tài khoản" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger-username" })

                        <!-- Mật khẩu -->
                        @Html.PasswordFor(m => m.Password, new { @class = "form__input", placeholder = "Mật khẩu" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger-password" })

                        <!-- Link Quên mật khẩu -->
                        <a class="form__link" href="@Url.Action("ForgotPassword", "Account")">Bạn quên mật khẩu?</a>

                        <!-- Nút Đăng nhập -->
                        <button type="submit" class="form__button button submit">Đăng nhập</button>

                    </form>

                </div>
                <div class="switch1">
                    <div class="switch__circle"></div>
                    <div class="switch__container">
                        <h2 class="switch__title title">Chào mừng bạn tới với Double 2T-2Q !</h2>
                        <p class="switch__description description">Chưa có tài khoản? Hãy đăng ký ngay để kết nối với chúng tôi</p>
                        <button class="switch__button button switch-btn" onclick="window.location.href='@Url.Action("Register", "Account")'">Đăng Ký</button>
                        <p class="switch__description description" style="margin-top: 50px;">Hoặc đăng nhập với</p>
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>
                </div>
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-message">
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi Đăng Nhập',
                                text: 'Đăng nhập không thành công. Vui lòng kiểm tra lại thông tin đăng nhập.',
                                confirmButtonText: "Thử lại"
                            });
                        });
                    </script>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
