@model WebShoeShop.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Đặt lại mật khẩu";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<style>
    .product_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }
    .form-container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-top: 160px;
    }

</style>
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="form-container product_section_container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="title" class="text-center">@ViewBag.Title.</h2>

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
               
                <hr />
               
                @Html.HiddenFor(model => model.Code)
                <div class="row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-form-label">Mật khẩu</label>
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 col-form-label">Xác nhận mật khẩu</label>
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="mt-md-2 offset-md-5 col-md-10">
                        <input type="submit" class="btn btn-outline-success" value="Reset" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
