@model WebShoeShop.Models.EF.ReviewProduct

<div class="add_review">
    @using (Ajax.BeginForm("PostReview", "Review", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "load_review",
        OnSuccess = "OnSuccessRE",
        OnFailure = "OnFailureRE",
        OnBegin = "OnBeginRE"
    }, new { @Id = "review_form" }))
    {
        <script>
            function OnBeginRE() {
                $('#review_submit').attr("disabled", "disabled");
                $('#load_send').html('<div class="spinner"><i class="fa fa-spinner fa-spin"></i></div><h3>Đang xử lí...</h3>');
            }
            function OnSuccessRE(res) {
                if (res.Success) {
                    $("#review_form")[0].reset();
                }
            }
        </script>

        @Html.AntiForgeryToken()
        <div>
            <h1>Thêm đánh giá </h1>
            @Html.TextBoxFor(x => x.FullName, new { @class = "form_input input_name", @placeholder = "Tên", @id = "review_name" })
            @Html.ValidationMessageFor(x => x.FullName)
            @Html.TextBoxFor(x => x.Email, new { @class = "form_input input_email", @placeholder = "Email", @id = "review_email" })
            @Html.ValidationMessageFor(x => x.Email)
            @Html.HiddenFor(x => x.UserName)
            @Html.HiddenFor(x => x.ProductId, new { @Value = ViewBag.ProductId })
            <input type="text" id="txtRate" name="Rate" value="4" style="visibility:hidden;" />
        </div>
        <div>
            <h1>Đánh giá của bạn:</h1>
            <ul class="user_star_rating">
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
            </ul>
            @Html.TextAreaFor(x => x.Content, new { @class = "input_review", @rows = "4", @placeholder = "Nội dung" })
        </div>
        <div class="form-group" id="load_send"></div>
        <div class="text-left text-sm-left">
            <button id="review_submit" type="submit" class="red_button review_submit_btn btn btn-success" value="Submit">Gửi</button>

        </div>
    }
</div>