@model IEnumerable<WebShoeShop.Models.EF.OrderDetail>
@if (Model != null && Model.Any())
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Stt</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Size</th>
                <th>Thành tiền</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var CheckImage = item.Product.ProductImage.FirstOrDefault(x => x.IsDefault);
                var strImg = "";
                if (CheckImage != null)
                {
                    strImg = CheckImage.Image;
                }
                <tr>
                    <td>@i</td>
                    <td>@item.Product.Title</td>
                    <td><img class="imgproduct" data-id="@item.Id" src="@strImg" width="50" /></td>
                    <td>@WebShoeShop.Common.Common.FormatNumber(item.Price,0)</td>
                    <td>@item.Quantity</td>
                    <td>@item.Size</td>
                    <td>@WebShoeShop.Common.Common.FormatNumber((item.Price * item.Quantity), 0)</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
