@model WebShoeShop.Models.EF.Contact
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <h2 class="text-center" style="margin-top:30px;font-weight:bold;">Liên hệ</h2>
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Liên hệ</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- Contact Us -->

    <div class="row">
        <div class="col-lg-6 contact_col">
            <div class="contact_contents">
                <h1>Liên hệ</h1>
                <div>
                    <p>Double 2T-2Q Sneaker chuyên kinh doanh các mặt hàng giày dép chính hãng từ các thương hiệu nổi tiếng thế giới như Nike Adidas MLB Domba Converse Vans Puma... nhập trực tiếp US UK JP KR. Cam kết sản phẩm chính hãng.</p>
                    <br />
                    <p>Địa chỉ: @WebShoeShop.Common.SettingHelper.GetValue("SettingAddress")</p>
                    <p>Hotline: @WebShoeShop.Common.SettingHelper.GetValue("SettingHotline")</p>
                    <p>Email: @WebShoeShop.Common.SettingHelper.GetValue("SettingEmail")</p>
                </div>
                <div>
                    <p>Giờ mở cửa: 9h-21h T2-T7 (Trừ các ngày Lễ, Tết)</p>
                </div>
            </div>

            <!-- Follow Us -->

            @Html.Action("ContactMe", "Contact")

        </div>

        <div class="col-lg-6 get_in_touch_col">
            <div class="get_in_touch_contents">
                <h3>Gửi thắc mắc cho chúng tôi</h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Name">Họ tên</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Email">Email</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Message">Nội dung</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @* <div class="form-group">
                                <label class="control-label col-md-2" for="Email">Ngày tạo</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Tạo" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>


@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}