@model WebShoeShop.Models.EF.Product
@{
    ViewBag.Title = Model.Title;
    ViewBag.SeoDescription = Model.SeoDescription ?? Model.Title;
    ViewBag.SeoKeyWord = Model.SeoKeywords ?? Model.Title;
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_responsive.css">
@if (Model != null)
{


    <div class="container single_product_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/danh-muc-san-pham/@Model.ProductCategory.Alias-@Model.ProductCategoryId"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.ProductCategory.Title</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Title</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                @if (Model.ProductImage != null && Model.ProductImage.Any())
                {
                    <div class="single_product_pics">
                        <div class="row">
                            <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                                <div class="single_product_thumbnails">
                                    <ul>
                                        @foreach (var item in Model.ProductImage)
                                        {
                                            if (item.IsDefault)
                                            {
                                                <li class="active"><img src="@item.Image" alt="" data-image="@item.Image"></li>
                                            }
                                            else
                                            {
                                                <li><img src="@item.Image" alt="" data-image="@item.Image"></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 image_col order-lg-2 order-1">
                                <div class="single_product_image">
                                    <div class="single_product_image_background" style="background-image:url(@Model.ProductImage.FirstOrDefault(x=>x.IsDefault).Image)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-5">
                <div class="product_details">
                    <div class="product_details_title">
                        <h2>@Model.Title</h2>
                        <p>@Model.Description</p>
                        <p>Lượt xem: <b>@Model.ViewCount</b></p>  
                    </div>
                    @if (Model.PriceSale > 0)
                    {
                        <div class="original_price">@WebShoeShop.Common.Common.FormatNumber(Model.Price, 0)</div>
                        <div class="product_price">@WebShoeShop.Common.Common.FormatNumber(Model.PriceSale, 0)</div>
                    }
                    else
                    {
                        <div class="product_price">@WebShoeShop.Common.Common.FormatNumber(Model.Price, 0)</div>
                    }
                    <ul class="star_rating">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                    <div class="product_size d-flex flex-column flex-sm-row align-items-sm-center">
                        <span>Size: </span>
                        <ul>
                            @foreach (var items in Model.ProductSize)
                            {
                                <li class="size-item" data-size="@items.Size" data-quantity="@items.Quantity">@items.Size</li>
                            }
                        </ul>
                    </div>
                    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                        <span>Số lượng:</span>
                        <div class="quantity_selector">
                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span id="quantity_value">1</span>
                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div style="background-color: red; padding: 10px 20px; border-radius: 5px; margin-left: 9px;"><a href="#" class="btnAddToCart1" data-id="@Model.Id" style="color: white; text-decoration: none;">Thêm vào giỏ hàng</a></div>
                        <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tabs_section_container">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tabs_container">
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                            <li class="tab active" data-active-tab="tab_1"><span>Mô tả sản phẩm</span></li>
                            @*<li class="tab" data-active-tab="tab_2"><span>Additional Information</span></li>*@
                            <li class="tab" data-active-tab="tab_3"><span>Đánh giá sản phẩm(@ViewBag.CountReView)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <!-- Tab Description -->

                    <div id="tab_1" class="tab_container active">
                        <div class="row">
                            @Html.Raw(Model.Detail)
                        </div>
                    </div>

                    <!-- Tab Additional Info -->
                    <!-- Tab Reviews -->

                    <div id="tab_3" class="tab_container">
                        <div class="row">

                            <!-- User Reviews -->

                            <div class="col-lg-6 reviews_col">


                                @Html.Action("_load_Review", "Review", new { productId = Model.Id })
                            </div>

                            <!-- Add Review -->

                            <div class="col-lg-6 add_review_col">

                                @Html.Action("_Review", "Review", new { productId = Model.Id })

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="best_sellers">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title">
                        <h3>Sản phẩm liên quan</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product_slider_container">
                        <div class="owl-carousel owl-theme product_slider" style="height:380px;">

                            @foreach (var item in @ViewBag.RelatedProducts as IEnumerable<WebShoeShop.Models.EF.Product>)
                            {
                                var strImge = "";
                                var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                                if (img != null)
                                {
                                    strImge = img.Image;
                                }
                                var wishlist = item.Wishlists.FirstOrDefault(x => x.UserName == User.Identity.Name);
                                var isWishList = false;
                                if (wishlist != null)
                                {
                                    isWishList = true;
                                }
                                <div class="owl-item product_slider_item">
                                    <div class="product-item @item.ProductCategory.Alias">
                                        <div class="product discount product_filter">
                                            <div class="product_image">
                                                <a href="/chi-tiet/@item.Alias-p@(item.Id)"><img src="@strImge" alt="@item.Title"> </a>
                                            </div>
                                            @if (isWishList == true)
                                            {
                                                <div data-id="@item.Id" class="favorite favorite_left active"></div>
                                            }
                                            else
                                            {
                                                <div data-id="@item.Id" class="favorite favorite_left"></div>
                                            }
                                            @if (item.PriceSale > 0)
                                            {
                                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                            }
                                            @*                                             <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                            *@
                                            <div class="product_info">
                                                <h6 class="product_name"><a href="/chi-tiet/@item.Alias-p@(item.Id)">@item.Title</a></h6>
                                                @if (item.PriceSale > 0)
                                                {
                                                    <div class="product_price">@WebShoeShop.Common.Common.FormatNumber(item.PriceSale, 0)<span>@WebShoeShop.Common.Common.FormatNumber(item.Price, 0)</span></div>

                                                }
                                                else
                                                {
                                                    <div class="product_price">@WebShoeShop.Common.Common.FormatNumber(item.Price, 0)</div>
                                                }
                                            </div>
                                        </div>
                                        <div class="red_button add_to_cart_button">
                                            <a href="#" class="btnAddToCart" data-id="@item.Id"><i class="fa fa-cart-plus"></i></a>

                                        </div>
                                        <div class="red_button add_to_cart_button">
                                            <a href="/chi-tiet/@item.Alias-p@(item.Id)" class="btnAddToCartt" data-id="@item.Id"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>

                        <!-- Slider Navigation -->

                        <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@section scripts{
    <script src="~/Content/assets/js/single_custom.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var addToCartButton = document.querySelector('.btnAddToCart1');
            addToCartButton.addEventListener('click', function (event) {
                event.preventDefault();

                var quantityValue = parseInt(document.getElementById('quantity_value').innerText); 
                var selectedSizeElement = document.querySelector('.size-item.selected');
                if (!selectedSizeElement) { 
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Vui lòng chọn size trước khi thêm vào giỏ hàng.'
                    });
                    return; 
                }
                var size = selectedSizeElement.getAttribute('data-size');
                var quantityProduct = selectedSizeElement.getAttribute('data-quantity');
                if (quantityValue > quantityProduct) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Số lượng bạn muốn mua vượt quá số lượng hiện có trong kho.'
                    });
                } else {
                    var id = addToCartButton.getAttribute('data-id');
                    $.ajax({
                        url: '/shoppingcart/addtocart',
                        type: 'POST',
                        data: { id: id, quantity: quantityValue, size: size },
                        success: function (rs) {
                            if (rs.Success) {
                                $('#checkout_items').html(rs.Count);
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thành công!',
                                    text: rs.msg,
                                    timer: 2000,
                                    showConfirmButton: false,
                                    position: 'center'
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi!',
                                    text: 'Vui lòng đăng nhập để thêm sản phẩm vào giỏ hàng',
                                    confirmButtonText: "Đăng nhập",
                                    cancelButtonText: "Quay lại",
                                    showCancelButton: true
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = '/account/login';
                                    }
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.size-item').click(function () {
                $('.size-item').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
    <script>
        document.querySelectorAll('.size-item').forEach(item => {
            item.addEventListener('click', function () {
                document.querySelectorAll('.size-item').forEach(i => i.classList.remove('selected'));
                item.classList.add('selected');
            });
        });
    </script>
}