@model IEnumerable<WebShoeShop.Models.ShoppingCartItem>
@using WebShoeShop.Common
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<table class="table">
    <tr class="text-center">
        <th>STT</th>
        <th>Ảnh sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Danh mục</th>
        <th>Giá</th>

        <th style="width:90px;">Số lượng</th>
        <th style="width:90px;">Size</th>
        <th>Thành tiền</th>
        <th style="width:200px;">

        </th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 0;
        var tongtien = decimal.Zero;
        foreach (var item in Model)
        {
            tongtien += item.TotalPrice;
            <tr class="text-center" id="trow_@(item.ProductId)_@(item.Size)">
                <td>@(i + 1)</td>
                <td><img src="@item.ProductImg" width="60" /></td>
                <td>
                    <a href="/chi-tiet/@item.Alias-p@(item.ProductId)">
                        @item.ProductName
                    </a>
                </td>
                <td>@item.CategoryName</td>
                <td>@Common.FormatNumber(item.Price, 0)</td>
                <td>
                    <input type="number" class="form-control quantity-input"
                           data-id="@item.ProductId"
                           data-size="@item.Size"
                           value="@item.Quantity"
                           min="1"
                           pattern="[0-9]*" />
                </td>
                <td>
                    <select class="form-control size-input"
                            id="Size_@(item.ProductId)_@(item.Size)"
                            name="Size_@(item.ProductId)"
                            data-product-id="@item.ProductId">
                        @if (item.AvailableSizes != null && item.AvailableSizes.Any())
                        {
                            foreach (var size in item.AvailableSizes)
                            {
                                <option value="@size" @(item.Size == size ? "selected" : "")>@size</option>
                            }
                        }
                        else
                        {
                            <option disabled>Không có size</option>
                        }
                    </select>
                    <span class="stock-info text-muted" id="Stock_@(item.ProductId)_@(item.Size)">Có sẵn:</span>
                </td>
                <td>@Common.FormatNumber(item.TotalPrice, 2)</td>
                <td>
                    <a href="#" data-id="@item.ProductId" data-size="@item.Size"
                       class="btn btn-sm btn-danger btnDelete">Xóa</a>
                    <a href="#" data-id="@item.ProductId" data-size="@item.Size"
                       class="btn btn-sm btn-success btnUpdate" onclick="updateProduct(this)">Cập nhật</a>
                </td>
            </tr>

            i++;
        }
        <tr>
            <th colspan="7" class="text-right">Giảm giá:</th>
            <th class="text-center text-danger">-@Common.FormatNumber(Model?.Sum(x => x.Discount) ?? 0, 0)</th>
            <th></th>
        </tr>
        tongtien = tongtien - Model.Sum(x => x.Discount);
        <tr>
            <th colspan="7" class="text-right">Tổng thanh toán: </th>
            <th class="text-center text-success">@Common.FormatNumber(tongtien, 0)</th>
            <th></th>
        </tr>

    }
    else
    {
        <tr>
            <th colspan="7">Không có sản phẩm trong giỏ hàng!!</th>
            <th>
                <div class="text-left"><a href="/san-pham"><i class="fa fa-arrow-left" aria-hidden="true"></i>Quay về trang sản phẩm</a></div>
            </th>
        </tr>

    }

</table>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-inline">
            <label for="couponCode" class="mr-2">Nhập mã giảm giá:</label>
            <input type="text" id="couponCode" name="couponCode"
                   value="@ViewBag.CouponCode"
                   class="form-control form-control-sm"
                   placeholder="Nhập mã giảm giá" style="width: 150px;" />
            <button id="applyCouponButton" class="btn btn-primary btn-sm ml-2"
                    onclick="applyCoupon()">
                Áp dụng
            </button>
        </div>
        <span id="couponMessage" class="text-danger mt-1"></span>
    </div>
</div>


<script>
    function applyCoupon() {
        var couponCode = $('#couponCode').val();

        $.ajax({
            url: '/ShoppingCart/ApplyCoupon',
            type: 'POST',
            data: { couponCode: couponCode },
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Thành công',
                        text: response.message,
                        confirmButtonText: 'Ok'
                    }).then(() => {
                        location.reload(); 
                    });
                } else {
                    Swal.fire({
                        icon: 'errors',
                        title: 'Lỗi',
                        text: response.message,
                        confirmButtonText: 'Ok'
                    }).then(() => {
                        location.reload();
                    });
                }
            },
            error: function () {
                $('#couponMessage').text("Có lỗi xảy ra, vui lòng thử lại!");
            }
        });
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>